<sly data-sly-use.page="com.company.example.aem.sites.components.page.PageModel"/>
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<!DOCTYPE html>
<html lang="${page.languageCode}">
<head>
  <title>Example | ${page.title}</title>

  <sly data-sly-call="${clientLib.css @ categories='example.sites.publish'}"/>
  <sly data-sly-call="${clientLib.css @ categories='example.sites.author'}" data-sly-test="${!wcmmode.disabled}"/>
</head>
<body>
<header id="header" class="container">
  <div class="logo"><img src="/etc.clientlibs/example/sites/clientlibs/page/publish/src/img/logo.png" alt=""></div>
  <h1>${page.title}</h1>
</header>
<div id="content" class="container">
  <div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"/>
</div>
<footer id="footer" class="container">
  2019 &copy; Company
</footer>

<sly data-sly-call="${clientLib.js @ categories='example.sites.publish'}"/>
<sly data-sly-call="${clientLib.js @ categories='example.sites.author'}" data-sly-test="${!wcmmode.disabled}"/>
</body>
</html>
